<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home</h1>

{% if request.user.is_authenticated %}
  <h3>Welcome {{request.user.username}}</h3>
  {% else %}
  
{% endif %}
  
<ul>
  <li><a href="{% url 'article' %}">All articles</a></li>
  <li><a href="{% url 'article-create' %}">Create article</a></li>
  
  {% if user.is_authenticated %}
  <li><a href="{% url 'logout' %}">Logout</a></li>
 
    {% else %}
  <li><a href="{% url 'login' %}">Login</a></li>
  <li><a href="{% url 'register' %}">Register</a></li>
  {% endif %}
</ul>
 
  <form action="{% url 'article-search' %}">
    <input type="text" name="query" id="">
    <input type="submit" value="Search">
    
      </form>
 
 {% block content %}
 
 {% endblock content %}


</body>
</html>